*.java linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.R linguist-detectable=true
*.r linguist-detectable=true
*.py linguist-detectable=true
